[submodule "crates/axfs-ng-vfs"]
	path = crates/axfs-ng-vfs
	url = https://github.com/Starry-OS/axfs-ng-vfs.git
[submodule "crates/axprocess"]
	path = crates/axprocess
	url = https://github.com/Starry-OS/axprocess.git
[submodule "crates/axsignal"]
	path = crates/axsignal
	url = https://github.com/Starry-OS/axsignal.git
